body { margin:0px 0px 0px 0px; background:url(../images/page/mainBgLoop.jpg) repeat-x #1e497d; }

#logo { background:url(../images/page/n13logo.jpg); width:164px; height:113px; position:absolute; display:block; margin:0px 50px 0px 32px; z-index:2; }

#menuCont { 
	background:url(../images/menu/menuBg.jpg) no-repeat; 
	width:949px; 
	height:82px; 
	position:relative; 
	margin:0px auto 0px auto;
	text-align: center;
}

.menu { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px;  }
.menu a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; }
.menu a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; }
.menu a:hover { position:relative; font-family:arial; font-size:14px; color:#23a0d9; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; }
.menu a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; }


.menuButton { 
	position:relative; 
	font-family:arial; 
	font-size:14px; 
	color:#47627e; 
	text-shadow:#fff 1px 1px 1px; 
	text-decoration:none; 
	display:inline-block; 
	padding:53px 24px 14px 24px; 
	margin:0px -5px 0px -1px;
	outline:none;  
}
.menuButtonActive {
	background:url(../images/menu/activeBg.png);
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}
.menuButton:hover { 
	background:url(../images/menu/activeBg.png); 
	position:relative; font-family:arial; 
	text-decoration:none; 
	display:inline-block; 
	padding:53px 24px 14px 24px; 
	margin:0px -5px 0px -1px; 
	outline:none;  }
.menuButton a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuButton a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuButton a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuButton a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }


.menuButtonHome:hover { 
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}
.menuButtonArticles:hover { 
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}
.menuButtonMessages:hover { 
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}
.menuButtonOptions:hover { 
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}
.menuButtonHelp:hover { 
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}
.menuButtonLogout:hover { 
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #1E497D;
}

#menu img {
	position:relative; top:16px;
}


.menuHome { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/homeSml.png) top center no-repeat; outline:none;  }
.menuHome:hover { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/homeSmlAtv.png) top center no-repeat; outline:none;  }
.menuHome a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuHome a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuHome a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuHome a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }

.menuArticles { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/articlesSml.png) top center no-repeat;  outline:none; }
.menuArticles:hover { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/articlesSmlAtv.png) top center no-repeat; outline:none;  }
.menuArticles a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuArticles a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuArticles a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuArticles a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }

.menuMessages { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/messagesSml.png) top center no-repeat; outline:none;  }
.menuMessages:hover { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/messagesSmlAtv.png) top center no-repeat; outline:none;  }
.menuMessages a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuMessages a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuMessages a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuMessages a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }

.menuOptions { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/optionsSml.png) top center no-repeat; outline:none;  }
.menuOptions:hover { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/optionsSmlAtv.png) top center no-repeat; outline:none;  }
.menuOptions a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuOptions a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuOptions a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuOptions a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block;  outline:none;}

.menuHelp { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/helpSml.png) top center no-repeat; outline:none;  }
.menuHelp:hover { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/helpSmlAtv.png) top center no-repeat; outline:none;  }
.menuHelp a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuHelp a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block;  outline:none;}
.menuHelp a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuHelp a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }

.menuLogout { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/logoutSml.png) top center no-repeat; outline:none;  }
.menuLogout:hover { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; background:url(../images/icons/logoutSmlAtv.png) top center no-repeat; outline:none;  }
.menuLogout a:link { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuLogout a:visited { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuLogout a:hover { position:relative; font-family:arial; font-size:14px; color:#6b93bd; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuLogout a:active { position:relative; font-family:arial; font-size:14px; color:#47627e; text-shadow:#fff 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }

.menuActive { position:relative; background:url(../images/menu/activeBg.png) repeat-x top center; display:inline-block; padding:53px 24px 14px 24px; left:303px; margin:0px -4px 0px -4px; outline:none; }
.menuActive a:link { position:relative; font-family:arial; font-size:14px; color:#fff; text-shadow:#1e497d 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuActive a:visited { position:relative; font-family:arial; font-size:14px; color:#fff; text-shadow:#1e497d 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }
.menuActive a:hover { position:relative; font-family:arial; font-size:14px; color:#fff; text-shadow:#1e497d 1px 1px 2px; text-decoration:none; display:inline-block; top:0px; outline:none; cursor:default; }
.menuActive a:active { position:relative; font-family:arial; font-size:14px; color:#fff; text-shadow:#1e497d 1px 1px 1px; text-decoration:none; display:inline-block; outline:none; }

#subMenuCont { position:relative; width:190px; height:auto; float:left; margin:20px 0px 0px 0px; }
.subMenu:link { outline: none; font-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#cfd7e5; text-shadow:#183b66 0px 1px 1px; background:url(../images/menu/subBg.png) repeat-y; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }
.subMenu:visited { outline: none; font-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#cfd7e5; text-shadow:#183b66 0px 1px 1px; background:url(../images/menu/subBg.png) repeat-y; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }
.subMenu:hover { outline: none; background-color: #9cbcde; font-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#fff; text-shadow:#183b66 0px 1px 1px; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }

.subMenuActive:link { outline: none; font-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#1e497d; background:#acbbd1; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }
.subMenuActive:visited { outline: none; font-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#1e497d; background:#acbbd1; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }
.subMenuActive:hover { outline: none; foutline: none; ont-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#1e497d; background:#acbbd1; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }
.subMenuActive:active { font-family:arial; font-size:12px; text-align:right; padding:6px 13px 0px 0px; color:#1e497d; background:#acbbd1; text-decoration:none; width:177px; height:19px; display:block; margin:0px 0px 1px 0px; }
#menuShadow { background:url(../images/menu/menuShadowMain.jpg) no-repeat; width:949px; height:52px; position:relative; margin:0px auto 0px auto; z-index:1; }
#menuIcon { position:relative; margin:0px auto 0px auto; width:21px; height:35px; display:block; }



#systemCont { width:949px; height:auto; position:relative; margin:0px auto 0px auto; }
#pageCont { background:url(../images/page/pageBgLoop.jpg) repeat-y; width:759px; min-height:300px; max-height:auto; position:relative; float:right; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; }
#pageCont2 { background:url(../images/page/pageBgLoop2.jpg) repeat-y; width:759px; min-height:300px; max-height:auto; position:relative; float:right; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; }
#pageLeft { position:relative; width:170px; min-height:300px; float:left; background-image: url(../images/page/leftShade.jpg); background-repeat: no-repeat; background-position: 60px 0px; }
#pageIconHome {  postion:absolute; width:130px; height:132px; top:0px; margin:20px auto 0px auto; background:url(../images/icons/homeIcon.png) no-repeat; border:none; }
#pageIconArticles { postion:absolute; width:159px; height:174px; top:0px; margin:0px auto 0px auto; background:url(../images/icons/articlesIcon.jpg) no-repeat; border:none; }
#pageIconMessages { postion:absolute; width:159px; height:174px; top:0px; margin:0px 0px 0px 24px; background:url(../images/icons/messagesIcon.jpg) no-repeat; border:none; }
#pageIconOptions { postion:absolute; width:159px; height:174px; top:0px; margin:20px auto 0px auto; background:url(../images/icons/optionsIcon.jpg) no-repeat; border:none; }
#pageIconHelp { postion:absolute; width:159px; height:174px; top:0px; margin:0px 0px 0px 24px; background:url(../images/icons/helpIcon.jpg) no-repeat; border:none; }
#pageIconLogout { postion:absolute; width:159px; height:174px; top:0px; margin:0px 0px 0px 24px; background:url(../images/icons/logoutIcon.jpg) no-repeat; border:none; }


#titleHome { position:relative; margin:0px auto 0px auto; font-family:arial; font-size:12px; color:#1e497d; text-align:center; }
#titleArticles { position:relative; margin:8px auto 0px auto; font-family:arial; font-size:12px; color:#1e497d; text-align:center; }
#titleMessages { position:relative; margin:-30px auto 0px auto; font-family:arial; font-size:12px; color:#1e497d; text-align:center; }
#titleOptions { position:relative; margin:0px auto 0px auto; font-family:arial; font-size:12px; color:#1e497d; text-align:center; }
#titleHelp { position:relative; margin:-19px auto 0px auto; font-family:arial; font-size:12px; color:#1e497d; text-align:center; }

#pageRight { position:relative; width:533px; min-height:247px; max-height:auto; background:url(../images/page/n13iconLrg.jpg) top right no-repeat; float:right;  -moz-border-top-right-radius:10px; -khtml-border-top-right-radius:10px; -webkit-border-top-right-radius:10px; padding:24px 28px 24px 28px; -moz-border-radius-topright:10px; }
#headerBox { position:relative; height:27px; margin-bottom:20px; background:#aab9cf; border:1px solid #8996a8; font-family:Arial; font-size:18px; color:#fff; padding:3px 10px 0px 10px; text-shadow:#708099 1px 1px 2px; }
.sectionTab { -moz-border-radius: 5px 5px 0 0; position:relative; width:514px; height:23px; background:url(../images/page/sectionTab.png) repeat-x; border:1px solid #a3afc0; font-family:arial; font-size:14px; color:#5b6169; padding:5px 10px 0px 10px; margin-bottom:5px; display:block; cursor:pointer; }
.sectionTab:hover { position:relative; background:url(../images/page/sectionTab.png) repeat-x; border:1px solid #a3afc0; font-family:arial; color:#fff; text-shadow:#708099 1px 1px 2px; margin-bottom:5px; display:block; cursor:pointer; }
.submit { background-color:#b9dea1; border:#96c776 1px solid; font-family:arial; font-weight:bold; color:#fff; font-size:12px; text-shadow:#779d5e 0px 1px 1px; padding:5px 8px 5px 8px; margin:5px 5px 0px 0px; cursor:pointer; position:relative; }
.submit:hover { background-color:#88c65e; border:#96c776 1px solid; font-family:arial; font-weight:bold; color:#fff; font-size:12px; text-shadow:#619b3a 0px 1px 1px; padding:5px 8px 5px 8px; margin:5px 5px 0px 0px; cursor:pointer; position:relative; }
.cancel { background-color:#ddbeb9; border:#c29c94 1px solid; font-family:arial; font-weight:bold; color:#fff; font-size:12px; text-shadow:#a38378 0px 1px 1px; padding:5px 8px 5px 8px; margin:5px 5px 0px 0px; cursor:pointer; position:relative; }
.cancel:hover { background-color:#d69388; border:#c29c94 1px solid; font-family:arial; font-weight:bold; color:#fff; font-size:12px; text-shadow:#894d43 0px 1px 1px; padding:5px 8px 5px 8px; margin:5px 5px 0px 0px; cursor:pointer; position:relative; }

#btmLinks { position:relative; width:347px; height:28px;float:right; margin:0px 10px 0px 0px; }
#network13 { position:absolute; background:url(../images/page/versionTab.jpg) no-repeat; width:190px; height:32px; padding:5px 0px 0px 40px; margin:0px 0px 0px 126px; }
#network13 a:link { font-family:arial; font-size:12px; color:#849bbc; text-shadow:#183559 0px 1px 2px; text-align:center; text-decoration:none; }
#network13 a:visited { font-family:arial; font-size:12px; color:#849bbc; text-shadow:#183559 0px 1px 2px; text-align:center; text-decoration:none; }
#network13 a:hover { font-family:arial; font-size:12px; color:#fff; text-shadow:#183559 0px 1px 2px; text-align:center; text-decoration:none; }
#network13 a:active { font-family:arial; font-size:12px; color:#849bbc; text-shadow:#183559 0px 1px 2px; text-align:center; text-decoration:none; }
#eMonkeyz { position:absolute; width:126px; height:26px; font-family:arial; font-size:12px; color:#4e719b; text-shadow:#153152 0px 1px 2px; padding:8px 6px 0px 0px; cursor:default; }
#eMonkeyzIcon { position:absolute; width:27px; height:30px; left:90px; top:0px; background:url(../images/icons/eMonkeyz.jpg) 0px -1px no-repeat; }
#eMonkeyzIcon:hover { position:absolute; width:27px; height:30px; left:90px; top:0px; background:url(../images/icons/eMonkeyzRo.jpg) 0px -1px no-repeat; }


input[type="button"], input[type="submit"], button  {
	border: 1px solid #A1A1A1; 
	-khtml-border-radius:5px 5px 5px 5px; -webkit-border-radius:5px 5px 5px 5px;	
	-moz-border-radius: 5px 5px 5px 5px; 
	padding: 2px 10px; 
	background-image: url("../images/white-grad.png");
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
	border: 1px solid #A1A1A1;
	outline: none;
}
input[type="button"]:active, input[type="submit"]:active, button:active {
	background-image: url("images/white-grad-active.png");
	outline: none;
}
input[type="text"], input[type="textarea"], input[type="password"], textarea, select {
	border: 1px solid #A1A1A1;
	
	padding: 3px; 
}
select {
	padding: 1px;
}
input[type="text"]:focus, input[type="textarea"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border: 1px solid #BBDAFD;
}

.panel {
	font-family: Arial;
	font-size: 13px;
	padding: 6px;
	-khtml-border-radius:5px 5px 5px 5px; -webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;	
	border: 1px solid #A3AFC0;
	background-image: url('../images/white-grad.png');
}
.panel2 {
	display: table;
	height: 70px; 
	width: 678px; 
	padding: 6px;
	-moz-border-radius: 0px 0px 5px 5px;	
	border: 1px solid #D1D1D1;
	border-top: 0px;
}
#outterCont {
	
}
table, tr, td {
	font-family: Arial;
	font-size: 12px;
}
.statsTable {
	width: 685px;
	margin-top: 15px;
}
.success {
	color: #00AA00;
	display: block;
	background-color: #DDFFDD;
	border: 1px solid #AADDAA;
	padding: 5px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	background-image: url('../images/right.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 10px 5px;
	margin-bottom: 10px;
}
.error {
	color: #00AA00;
	display: block;
	background-color: #FFDDDD;
	border: 1px solid #DDAAAA;
	padding: 5px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	background-image: url('../images/wrong.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 10px 5px;
	margin-bottom: 10px;
}

.error-warning {
	font-family: Arial; 
	padding: 5px; 
	background-color: #fff97b; 
	border: 1px solid #c8c11f;
	font-size: 12px;
}
.tableshead {
	border-top: 1px solid #a1b1c8;
	border-bottom: 1px solid #a1b1c8;
	background-color: #EEEEEE;
	padding: 0.1em 0.5em;
	font-size: 12px;
	text-align: center;
}
.tablebody {
	border-bottom: 1px solid #DDDDDD;
	padding: 0.1em 0.5em;
	font-size: 12px;
}
.tableleftborder {
	border-left: 1px solid #DDDDDD;
}
.tablerightborder {
	border-right: 1px solid #DDDDDD;
}
.row1 {
	background-color: #FFFFFF;
}
.row2 {
	background-color: #FFFFFF;
}
.rowhighlight {
	background-color: #f8ffcb;
}
#rows {
	margin-bottom: 10px;
}
.ok {
	color: #118811;
}
.notok {
	color: #AA0000;

}
.subheaders {
	-moz-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px;
	background-image:url("../images/white-grad.png");
	border:1px solid #A3AFC0;
	font-family:Arial;
	font-size:13px;
	padding:6px;
}
.subheaders2 {
	margin-top: 8px;
}
.subheaders_body {
	display: block;
	padding: 6px;
	-moz-border-radius: 0px 0px 5px 5px;	
	border: 1px solid #D1D1D1;
	border-top: 0px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}
hr {
	color: #CCCCCC;
	border: 0px;
	border-top: 1px solid #CCCCCC;
	height: 0px;	
}
#pageRight a, #pageRight a:hover, #pageRight a:visited {
	font-family: Arial;
	font-size: 12px;
	color: #555555;
}
#pageRight a:hover {
	color: #888888;
}
form {
	margin: 0px;
	padding: 0px;
}
.thumbnail {
	padding: 7px;
	padding-bottom: 7px;
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 4px;
	margin-bottom: 15px;
	background-color: #FFFFFF;
}
.thumbnail a {
	text-decoration: none;
}
.thumbnail a:hover {
	text-decoration: underline;
	color: #AA0000;
}
.thumbnailcaption { 
	font-size: 0.9em; 
	padding-top: 0.2em;
}
.imageeditbutton:hover {
	color: #FF0000;
} 
.imageeditbutton {
	color: #000000;	
	outline: 0;
	display: inline; 
	float: right; 
	position: absolute; 
	text-transform: uppercase; 
	font-size: 10px; 
	margin-left: -23px; 
	margin-top: 1px;
	border: 0px; 
	background-image: url('images/editimagebg.png'); 
	padding: 3px;
}
#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }
table,tr,td,div,span,a,input,textarea,select,option{
	font-family: Tahoma;
	font-size: 13px
}
#overlay{ background-image: url(../images/overlay.png); }

.displaytable {
	display: table;
	width: 519px;
}
.clickable {
	cursor: pointer;
}
.header {
background-color:#dae2ef;
color:#15497C;
font-size:14px;
margin-right:15px;
padding-left:6px;
padding-right:6px;
}
.headertitle {
	background-image: url('../images/headertest.png'); 	 
	background-repeat: repeat-x; 
	height: 30px; 
	margin-left: -6px;
	margin-bottom: 10px;
}
img {
	border: 0px;
}
.slink {
	cursor: pointer;
}
.noshow {
	display: none;	
}
.show {
	display: table;
}
.cke_contents:focus {
	border: 1px solid #BBDAFD;
}
.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index:1001;
  -moz-opacity: 0.5;
  opacity:.50;
  filter: alpha(opacity=50);
}
.datesdropdown {
	margin-right: 0px;
	margin-left: 0px;
}